* {
  box-sizing: border-box;
  margin: 5rem; 
  padding: 0; 
}

body {
  padding: 2rem;
}


h3 {
  color: red;
  font-size: 0.1px;
}

button {
  all: unset;
  padding: 0.5rem;
  border: 1px solid grey; 
  background-color: rgb(254, 211, 211);
  border-radius: 33px;
  cursor: pointer;
  font-family: sans-serif;
  margin-left: 5rem;
}

button:hover {
  box-shadow: 3px 3px 3px black;
  transition: 0.3s ease-out;
}